.container {
  display: flex;
  width: 576px;
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.06);
  height: 221px;
  .image {
    width: 250px;
    height: 221px;
    margin-left: -4px;

    img {
      height: 200px;
    }
  }
  .num {
    :global {
      .ant-input-number-input {
        line-height: 30px;
      }
    }
  }
  .total {
    position: absolute;
    bottom: 10px;
    color: red;
  }
}
